.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid gray;
}

.navbarBrand {
  display: flex;
  align-items: center;
}

.navbarItem {
  margin-right: 1rem;
  color: #000000;
  text-decoration: none;
}

.navbarItem:hover {
  color: #333333;
}

.navbarBurger {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .navbarItem {
    display: none;
  }

  .navbarBurger {
    display: block;
  }
}