.navbar {
    background-color: white;
    color: black;
  }
  
  .navbarBrand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .navbarBrand .navbarItem img {
    max-height: 3rem;
  }
  
  .navbarBurger {
    cursor: pointer;
  }
  
  .navbarBurger span {
    display: block;
    width: 22px;
    height: 2px;
    background-color: black;
    margin: 3px;
  }
  
  .navbarMenu {
    display: none;
  }
  
  .navbarMenu.isActive {
    display: block;
  }
  
  .navbarEnd {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
  }
  
  .navbarItem {
    text-decoration: none;
    color: black;
  }
  
  .navbarItem:hover {
    color: blue;
    text-decoration: underline;
  }
  