.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0 0.5rem 0;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.2;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    font-size: 1rem;
    margin: 0 0 1.25rem;
  }

  .boldTitle {
    font-weight: bold;
  }

  .DarkGrayText {
    color: #333; /* Dark grey color */
    font-size: 1em; /* 20% larger than the parent's font size */
  }
  
  .lightText {
    font-size: 1rem;
    color: rgb(65, 64, 64);
  }

  .hushtag {
    color: #1da1f2;
    padding: 4px 8px;
    border-radius: 14px;
    font-family: Arial, sans-serif;
  }

  .projectItem {
    display: flex;
    align-items: center;
  }
  
  .projectImage {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .projectImage {
      max-width: 100%;
    }
  }
